In [ ]:
7+8

15

In [ ]:
5*5

25

In [ ]:
print ("Welcome to IV")

Welcome to IV

In [ ]:
260/12*4-3

83.66666666666667

In [ ]:
(6-10)*4

-16

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4

625

In [ ]:
price=50.5
price #only show  output last time
type(price)

float

In [ ]:
price=50
price #only show  output last time
type(price)

int

In [ ]:
price=50.5
print(price) #to see  intermediate line's output use print() function
type(price)

50.5

float

In [ ]:
name="Pratik"
type(name)

str

In [ ]:
dir(str)  #all method that can be applied on strings
# ___dunder/magic method (double underscore method which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welocme TO SAILPOINT"
str1.capitalize() #convert only 1st letter in upper case and other in small

'Welocme to sailpoint'

In [ ]:
str1.upper()

'WELOCME TO SAILPOINT'

In [ ]:
str1.lower()

'welocme to sailpoint'

In [ ]:
str1.title()

'Welocme To Sailpoint'

In [ ]:
food="bIRyAnI"
name="pRAtiK"
print(food.swapcase())  #chnage upper case to lower case ,lower to upper case
name.swapcase()

BirYaNi

'PraTIk'

In [ ]:
s1="My name is Pratik"
print(s1.split())  #list of string is created  (split the words)
s2="Mumbai-Pune-Mumbai"
s2.split("-")   # Use - as a seperator

['My', 'name', 'is', 'Pratik']

['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail="pratik@gmail.com"
mail.split("@") # Use @ as a seperator

['pratik', 'gmail.com']

In [ ]:
s1.replace("Pratik","Sanket")

'My name is Sanket'

In [ ]:
# Single line comment and '' multi line comment

In [ ]:
city="amravati"
city.count("a")

3

In [ ]:
"amravati".count("a")

3

In [ ]:
name="Pratik"
name*4

'PratikPratikPratikPratik'

In [ ]:
n1=5
n1*5

25

In [ ]:
name="Pratik"
surname="Tarale"
name+" "+surname

'Pratik Tarale'

In [1]:
# Conditional Statement 
a=30
b=20
if (a>b):
  print("a is Greater")
else:
  print("b is Greater")

a is Greater

In [2]:
# Conditional Statement 
a=0
b=20
if (a>b):
  print("a is Greater")
else:
  print("b is Greater")

b is Greater

In [3]:
# Conditional Statement 
a=30
b=20
if (a>b):
  print(a, "is Greater")
else:
  print("Greatest number is:", b)

30 is Greater

In [4]:
# Conditional Statement 
a=20
b=50
if (a>b):
  print(a, "is Greater")
else:
  print("Greatest number is:", b)

Greatest number is: 50

In [9]:
salary=16000   #Salary 16000 for false
if (salary>20000):
  tax=0.26
  print("Hello from true if")
else:
   tax=0.20
   print("Hello from false if/else")
print("Bye...Outside of if block")
net_sal=salary-tax*salary
print(net_sal)

Hello from false if/else
Bye...Outside of if block
12800.0

In [11]:
salary=40000     #Salary 40000 for true
if (salary>20000):
  tax=0.26
  print("Hello from true if")
else:
   tax=0.20
   print("Hello from false if/else")
print("Bye...Outside of if block")
net_sal=salary-tax*salary
print(net_sal)

Hello from true if
Bye...Outside of if block
29600.0

In [12]:
# For Loop

for number in range (5,10): #Print number from 5 to 9. Defult increment is 1. #number is replase with any word
  print(number)

5
6
7
8
9

In [14]:
# Print number 1 to 10 
for i in range (1,11,1):  #range(start value, stop value, step value)  (step value= Increment/Decrement)
   print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
#Q1 print all odd number from 1 to 20
for i in range (1,21,2):  #range(start value, stop value, step value)  (step value= Increment/Decrement)
   print(i)

1
3
5
7
9
11
13
15
17
19

In [17]:
#Q2 print all Even number from 1 to 20
for i in range (2,21,2):  #range(start value, stop value, step value)  (step value= Increment/Decrement)
   print(i)

2
4
6
8
10
12
14
16
18
20

In [33]:
# "break"  statement terminates the loop when condition is satisfied

for i in range(1,11):
     if i==5:
         #print(i)
         break
     else:
         print(i)

1
2
3
4

In [34]:
for num in range(10):  #0 to 9
    print (num, num*num)   #num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [35]:
for num in range(10):  #0 to 9
    print (num, num**num)   #num and its c

0 1
1 1
2 4
3 27
4 256
5 3125
6 46656
7 823543
8 16777216
9 387420489

In [36]:
#range (start, stop, step)
for i in range(1,30,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [37]:
subject="science"
for letter in subject:
    print (letter)

s
c
i
e
n
c
e

In [43]:
#print name 3 times on first line, 4 time on 2nd, 5-3rd, 6-4th line Range(3,7)
name="Pratik"
for value in range (3,7):
  print(value*name)

PratikPratikPratik
PratikPratikPratikPratik
PratikPratikPratikPratikPratik
PratikPratikPratikPratikPratikPratik

In [45]:
# Print each letter of movie on separate line
#chnage case of each letter (upper to small and small to upper) of movie on single line with sep 

movie="Drishyam"
for letter in movie:
  print(letter)

D
r
i
s
h
y
a
m

In [46]:
#chnage case of each letter (upper to small and small to upper) of movie on single line with sep 

movie="Drishyam"
for letter in movie:
  #print(letter)
  print(letter.swapcase())

d
R
I
S
H
Y
A
M

In [47]:
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(), end=" ")  #try upper(), lower(), "-", #

d R I S H Y A M

In [48]:
movie="Drishyam"
for letter in movie:
  print(letter, end=" ")  #try upper(), lower(), "-", #

D r i s h y a m

In [49]:
movie="Drishyam"
for letter in movie:
  print(letter, end="~")  #try upper(), lower(), "-", #

D~r~i~s~h~y~a~m~

In [50]:
#print all even and odd number between given range using For Loop
for i in range (1,11):
  if i % 2 == 0:
    print('Even Number:',i)
  else:
    print('Odd Number:',i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [64]:
#print First all even and odd number list between given range using For Loop
print('Even Number:')
for i in range (1,11):
  if i % 2 == 0:
    print(i)

print('Odd Number:')
for i in range (1,11):
  if i%2!=0:
    print(i)

Even Number:
2
4
6
8
10
Odd Number:
1
3
5
7
9

In [65]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [66]:
#Print each lettre 4 time with separator as space
for letter in "Data Scirnce":
  print (letter*4, end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii rrrr nnnn cccc eeee